/* Default */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}


/* Import */

@font-face {
    font-family: 'cyborg';
    src: url('../fonts/Cyborg-Punk.ttf');
}

@font-face {
    font-family: 'batangas';
    src: url('../fonts/Batangas-Bold-700.otf');
}

@font-face {
    font-family: 'akira';
    src: url('../fonts/Akira-Expanded-Demo.otf');
}

@font-face {
    font-family: 'mont';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf');
}

/* Template */

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255); /* Warna latar belakang semi-transparan */
    z-index: 9999; /* Pastikan loader muncul di atas semua elemen lain */
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-spinner {
    border: 8px solid #f3f3f3; /* Warna latar belakang loader */
    border-top: 8px solid #60359d; /* Warna lingkaran putar-putar */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Mulai animasi spin */
}

.anm {
    animation: appear cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes appear {
    from {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
              
              
    }
    to {
      -webkit-transform: scale(1);
              transform: scale(1);
              
              
    }
  }

body {
    overflow-x: hidden;
}

h1 {
    font-family: 'cyborg', 'mont';
    text-align: center;
    color: #f69222;
    font-size: 40px;
}

h3, a {
    font-family: 'mont';
}

p {
    font-family: 'batangas', 'mont';
    color: #60359d;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bg {
    position: relative;
}

.bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5; /* Atur opasitas sesuai kebutuhan */
    z-index: 1;
}

.bg .row {
    position: relative;
    z-index: 2;
    padding: 20px;
    color: #000;
}

/* Navigation */

header {
    display: flex;
    justify-content: center;
}

header .nav {
    width: 100%;
    height: 80px;
    padding-inline: 3rem;
    position: fixed;
    top: 0;
    z-index: 998;
    flex-direction: row;
    justify-content: space-between;
    transition: all 0.3s ease;
    background-color: #f3f3f3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

header .nav input {
    display: none;
}

header .nav a {
    text-decoration: none;
    color: black;
}

header .nav .logo img {
    width: 200px;
    height: auto;
}

header .nav .web li {
    display: inline-block;
    margin-inline: 30px;
    font-weight: 700;
}

header .nav .contact {
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: black;
}

header .mob {
    display: none;
}

/* Landing Page */

.one-bg::before {
    background-image: url('../assets/01-bg.png');
}

.screen-one {
    height: 100vh;
    padding-top: 80px;
    flex-direction: row;
}

.screen-one .row {
    flex-direction: row;
}

.screen-one .logo {
    align-items: end;
}
.screen-one .logo img {
    width: 380px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5))
    drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3))
    drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.2));
}

.screen-one .title {
    align-items: end;
    gap: 20px;
    padding-right: 70px;
}

.screen-one .title h1 {
    font-size: 60px;
    text-align: end;
}

.screen-one .title p {
    text-align: end;
    width: 90%;
    font-size: 30px;
    padding-right: 5px;
    text-transform: capitalize;
}

.screen-one .title a {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 25px;
    border-radius: 10px;
    background-color: #f69222;
}


/* Sponsorship */

.two-bg {
    background-color: white;
    box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.5),
                inset 0 10px 10px -10px rgba(0, 0, 0, 0.5);

}

.screen-two {
    height: 200px;
    overflow-x: hidden;
}

.screen-two .flex {
    flex-direction: column;
}

.screen-two p {
    font-family: 'mont';
    color: #000;
    opacity: 0.6;
}

.screen-two img {
    width: 350px;
}

/* Definition */

.three-bg::before {
    background-image: url('../assets/03-bg.png');
}

.screen-three {
    height: 900px;
    gap: 40px;
}

.screen-three p {
    width: 70%;
    font-size: 25px;
    text-align: center;
}

.screen-three video {
    max-width: 600px;
    height: auto;
}

/* Competition */

.four-bg {
    background-color: #60359d;
}

.screen-four {
    height: fit-content;
    flex-direction: column;
}

.screen-four .title {
    height: 20%;
    padding-block: 40px;
}

.screen-four .title h1 {
    color: white;
}

.screen-four .card-container {
    height: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 90px;
}

.screen-four .card-container .card {
    text-decoration: none;
}

.screen-four .card-container .card .img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-color: whitesmoke;
}

.screen-four .card-container .card .img img {
    width: 130px;
}

.screen-four .card-container .card .text {
    width: 200px;
    height: 70px;
}

.screen-four .card-container .card .text p {
    color: white;
    font-size: 18px;
    text-align: center;
}

/* Timeline */

.five-bg::before {
    background-image: url('../assets/05-bg.png');
}

.screen-five {
    height: 1850px;
}

.screen-five .title {
    height: 10%;
}

.screen-five .time {
    height: 90%;
}

.screen-five .time .line {
    height: 400px;
    flex-direction: row;
}

.screen-five .time .line .text {
    align-items: start;
    padding-left: 120px;
}

.screen-five .time .line .text h3 {
    width: 80%;
    font-size: 30px;
}
.screen-five .time .line .text p {
    width: 80%;
    text-align: justify;
}

.screen-five .time .line .date {
    height: 100%;
    background-color: #60359d;
}

.screen-five .time .line .date p {
    color: aliceblue;
    font-size: 60px;
    font-family: 'akira', 'mont';
}

.screen-five .time .line .img img {
    width: 500px;
}


/* Highlight */

.six-bg {
    background-color: #60359d;
}

.screen-six {
    width: 100%;
    height: fit-content;
    gap: 50px;
    padding-bottom: 50px;
    flex-direction: column;
}

.screen-six h1 {
    color: white;
    margin-top: 30px;
}

/* FAQ */

.seven-bg::before {
    background-image: url('../assets/03-bg.png');
}

.linkfaq {
    color: blue;
    font-family: 'batangas';
}

.screen-seven {
    width: 100%;
    height: 700px;
    background-image: url('assets/00-quest.png');
}

.screen-seven .down {
    height: 80%;
}

.screen-seven .down .faq {
    border-bottom: 3px solid black;
    margin-bottom: 10px;
    width: 100%;
}

.screen-seven .down .faq .question {
    height: 50px;
    justify-content: space-between;
    flex-direction: row;
    cursor: pointer;
}

.screen-seven .down .faq .question h3 {
    font-size: 20px;
    font-weight: 700;
}

.screen-seven .down .faq .question img {
    width: 20px;
    transform: transform 0.3s;
}

.screen-seven .down .faq .answer {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
    border-bottom: 3px solid transparent;  
}

.screen-seven .down .faq .caret-rotate {
    transform: rotate(180deg);
    transition: transform 0.3s;
}

.screen-seven .down .faq .answer-visible {
    max-height: 200px;
    opacity: 1;
    padding-bottom: 15px;
}

/* Footer */

footer {
    width: 100%;
    height: 100px;
    background-color: #60359d;
}

footer p {
    color: white;
}

/* Responsive Page */

@media (max-width: 1200px) {
    h1 {
        font-size: 30px;
    }

    header .nav {
        padding-inline: 2rem;
    }

    header .nav .logo img {
        width: 120px;
    }

    header .nav input {
        display: inline-block;
    }

    header .nav input[type="checkbox"] {
        appearance: none; /* Menghapus tampilan default */
        width: 25px;
        height: 25px;
        background: url('../assets/00-menu.png') no-repeat center center;
        background-size: cover;
        cursor: pointer;
        transition: transform 0.3s ease, background 0.3s ease;
    }

    header .nav input[type="checkbox"]:checked {
        width: 25px;
        height: 25px;
        background: url('../assets/00-close.png') no-repeat center center;
        background-size: cover;
        transform: rotate(360deg);
    }

    header .nav .web,
    header .nav a {
        display: none;
    }

    header .mob {
        width: 100%;
        /* border-radius: 0px 0px 30px 30px; */
        position: fixed;
        justify-content: center;
        z-index: 997;
        padding-top: 80px;
        overflow-x: hidden;
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease;
    }
    
    header .mob ul {
        width: 100%;
    }
    
    header .mob ul li {
        list-style: none;
        text-align: center;
        padding-block: 0.7rem;
    }

    header .mob ul li a {
        text-decoration: none;
        color: black;
    }

    .screen-one {
        padding-top: 0;
    }
    
    .screen-one.row {
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 30px;
    }
    .screen-one .logo {
        align-items: center;
    }

    .screen-one .logo img {
        width: 250px;
    }
    
    .screen-one .title {
        align-items: right;
        gap: 20px;
        padding: 0px;
    }
    
    .screen-one .title h1 {
        font-size: 40px;
        text-align: center;
    }
    
    .screen-one .title p {
        text-align: right;
        width: 100%;
        font-size: 20px;
        padding-right: 0px;
    }
    
    .screen-one .title a {
        font-size: 15px;
    }

    .screen-three {
        gap: 30px;
        height: fit-content;
        flex-direction: row;
    }
    
    .screen-three p {
        font-size: 10px;
        text-align: center;
    }

    .screen-three img {
        max-width: 300px;
        height: auto;
    }

    .screen-four {
        height: fit-content;
    }
    
    .screen-four .title {
        height: fit-content;
        padding-block: 40px;
    }
    
    .screen-four .card-container {
        height: fit-content;
        gap: 10px;
        padding-bottom: 10px;
    }
    
    .screen-four .card-container .card .img {
        width: 100px;
        height: 100px;
    }
    
    .screen-four .card-container .card .img img {
        width: 70px;
    }
    
    .screen-four .card-container .card .text {
        width: 100px;
        height: 50px;
    }
    
    .screen-four .card-container .card .text p {
        font-size: 10px;
    }

    .screen-five {
        height: fit-content;
    }
    
    .screen-five .title {
        padding-block: 40px;
        height: fit-content;
    }
    
    .screen-five .time {
        height: fit-content;
    }
    
    .screen-five .time .line {
        height: 250px;
        flex-direction: row;
    }
    
    .screen-five .time .line .text {
        padding-left: 0px;
    }
    
    .screen-five .time .line .text h3 {
        font-size: 20px;
    }

    .screen-five .time .line .text p {
        width: 100%;
        font-size: 10px;
    }
    
    .screen-five .time .line .date p {
        font-size: 25px;
    }
    
    .screen-five .time .line .img {
        display: none;
    }

    .screen-five .time .line .img img {
        width: 300px;
    }

    .screen-six {
        width: 100%;
        height: fit-content;
        gap: 10px;
        padding-bottom: 20px;
    }
    
    .screen-six h1 {
        padding-block: 20px;
        height: fit-content;
    }
    
    .screen-six .img {
        height: 200px;
    }

    .screen-six .img .scroller {
        gap: 10px;
        flex-direction: row;
    }
    
    .screen-six .img img {
        min-width: 30px;
        height: 170px;
        background-color: transparent;
        animation: scroll 30s linear infinite;
    }

    @keyframes scroll {
        0% { transform: translateX(100%); }
        100% { transform: translateX(-700%); }
      }

    .screen-seven {
        height: fit-content;
    }

    .screen-seven .up {
        padding-block: 20px;
    }
    
    .screen-seven .down {
        height: fit-content;
        width: 100%;
    }
    
    .screen-seven .down .faq {
        border-bottom: 3px solid black;
        margin-bottom: 10px;
        width: 100%;
    }
    
    .screen-seven .down .faq .question {
        height: 50px;
        justify-content: space-between;
        flex-direction: row;
        cursor: pointer;
    }
    
    .screen-seven .down .faq .question h3 {
        width: 90%;
        font-size: 13px;
        font-weight: 700;
    }
    
    .screen-seven .down .faq .question img {
        width: 20px;
        transform: transform 0.3s;
    }

    .screen-seven .down .faq .answer p {
        padding-top: 5px;
        font-size: 10px;
    }

    footer p {
        width: 90%;
        font-size: 13px;
        text-align: center;

    }
}


@media (max-width: 992px) {
    video {
        width: 300px;
        height: auto;
    }
    h1 {
        font-size: 25px;
    }

    header .nav {
        padding-inline: 2rem;
    }

    header .nav .logo img {
        width: 120px;
    }

    header .nav input {
        display: inline-block;
    }

    header .nav input[type="checkbox"] {
        appearance: none; /* Menghapus tampilan default */
        width: 25px;
        height: 25px;
        background: url('../assets/00-menu.png') no-repeat center center;
        background-size: cover;
        cursor: pointer;
        transition: transform 0.3s ease, background 0.3s ease;
    }

    header .nav input[type="checkbox"]:checked {
        width: 25px;
        height: 25px;
        background: url('../assets/00-close.png') no-repeat center center;
        background-size: cover;
        transform: rotate(360deg);
    }

    header .nav .web,
    header .nav a {
        display: none;
    }

    header .mob {
        width: 100%;
        /* border-radius: 0px 0px 30px 30px; */
        position: fixed;
        justify-content: center;
        z-index: 997;
        padding-top: 80px;
        overflow-x: hidden;
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease;
    }
    
    header .mob ul {
        width: 100%;
    }
    
    header .mob ul li {
        list-style: none;
        text-align: center;
        padding-block: 0.7rem;
    }

    header .mob ul li a {
        text-decoration: none;
        color: black;
    }

    .screen-one {
        padding-top: 0;
    }
    
    .screen-one.row {
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 30px;
    }

    .screen-one .logo {
        align-items: center;
    }

    .screen-one .logo img {
        width: 250px;
    }
    
    .screen-one .title {
        align-items: center;
        gap: 20px;
        padding: 0px;
    }
    
    .screen-one .title h1 {
        font-size: 30px;
        text-align: center;
        color: #f69222;
    }
    
    .screen-one .title p {
        text-align: center;
        width: 100%;
        font-size: 20px;
        padding-right: 0px;
    }
    
    .screen-one .title a {
        font-size: 15px;
    }

    .screen-two img {
        width: 300px;
    }

    .screen-three {
        gap: 30px;
        height: fit-content;
        flex-direction: row;
    }
    
    .screen-three p {
        width: 100%;
        text-align: justify;
        font-size: 10px;
    }

    .screen-three img {
        max-width: 270px;
        height: auto;
    }

    .screen-four {
        height: fit-content;
    }
    
    .screen-four .title {
        height: fit-content;
        padding-block: 40px;
    }
    
    .screen-four .card-container {
        height: fit-content;
        gap: 10px;
        padding-bottom: 10px;
    }
    
    .screen-four .card-container .card .img {
        width: 100px;
        height: 100px;
    }
    
    .screen-four .card-container .card .img img {
        width: 70px;
    }
    
    .screen-four .card-container .card .text {
        width: 100px;
        height: 50px;
    }
    
    .screen-four .card-container .card .text p {
        font-size: 10px;
    }

    .screen-five {
        height: fit-content;
    }
    
    .screen-five .title {
        padding-block: 40px;
        height: fit-content;
    }
    
    .screen-five .time {
        height: fit-content;
    }
    
    .screen-five .time .line {
        height: 250px;
        flex-direction: row;
    }
    
    .screen-five .time .line .text {
        padding-left: 0px;
    }
    
    .screen-five .time .line .text h3 {
        width: 100%;
        font-size: 20px;
    }

    .screen-five .time .line .text p {
        width: 100%;
        font-size: 10px;
    }
    
    .screen-five .time .line .date p {
        font-size: 25px;
    }
    
    .screen-five .time .line .img {
        display: none;
    }

    .screen-five .time .line .img img {
        width: 300px;
    }

    .screen-six {
        width: 100%;
        height: fit-content;
        gap: 10px;
        padding-bottom: 20px;
    }
    
    .screen-six h1 {
        padding-block: 20px;
        height: fit-content;
    }
    
    .screen-six .img {
        height: 200px;
    }

    .screen-six .img .scroller {
        gap: 10px;
        flex-direction: row;
    }
    
    .screen-six .img img {
        min-width: 30px;
        height: 170px;
        background-color: transparent;
        animation: scroll 30s linear infinite;
    }

    @keyframes scroll {
        0% { transform: translateX(100%); }
        100% { transform: translateX(-700%); }
      }

    .screen-seven {
        height: fit-content;
    }

    .screen-seven .up {
        padding-block: 20px;
    }
    
    .screen-seven .down {
        height: fit-content;
        width: 100%;
    }
    
    .screen-seven .down .faq {
        border-bottom: 3px solid black;
        margin-bottom: 10px;
        width: 100%;
    }
    
    .screen-seven .down .faq .question {
        height: 50px;
        justify-content: space-between;
        flex-direction: row;
        cursor: pointer;
    }
    
    .screen-seven .down .faq .question h3 {
        width: 90%;
        font-size: 13px;
        font-weight: 700;
    }
    
    .screen-seven .down .faq .question img {
        width: 20px;
        transform: transform 0.3s;
    }

    .screen-seven .down .faq .answer p {
        padding-top: 5px;
        font-size: 10px;
    }

    footer p {
        width: 90%;
        font-size: 13px;
        text-align: center;

    }
}

@media screen and (max-width: 576px) {
    .screen-one .logo img {
        width: 230px;
    }
    
    .screen-one .title h1 {
        font-size: 25px;
    }
    
    .screen-one .title p {
        width: 150%;
        font-size: 15px;
        padding-right: 0px;
    }
    
    .screen-one .title a {
        text-align: center;
        font-size: 10px;
    }

    .screen-five .time .line .text.col-4 {
        width: 66.66%;
    }

    .screen-five .time .line .date.col-2 {
        width: 33.33%;
    }
}